<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">
    <item screen="entityInspector.browse" caption="msg://io.jmix.datatoolsui.screen.entityinspector/browserCaption"/>
    <item screen="User.browse" caption="msg://org.emerald.butler.screen.user/UserBrowse.caption"/>
    <item screen="PopularityByCityScreen"
          caption="msg://org.emerald.butler.screen.charts/popularityByCityScreen.caption"/>
    <item screen="PopularityByRegionScreen"
          caption="msg://org.emerald.butler.screen.charts/popularityByRegionScreen.caption"/>
</menu-config>
